{% extends "components/tablas.html" %}

{% block title %}Gestión Grados{% endblock title %}


{% block titabla %}Gestión Grados{% endblock titabla %}


{% block Thead %}
<th>Orden</th>
<th>Nombre</th>
<th>Abreviatura</th>
<th>Acciones</th>
{% endblock Thead %}

{% block tbody %}
{% for grado in grados %}
<tr>
    <td>{{ grado.orden }}</td>
    <td>{{ grado.nombre }}</td>
    <td>{{ grado.abreviatura }}</td>
    {% include "includes/botones.html" with modelo=grado modelomodal='grado' modelo_id=grado.id %}
</tr>
{% endfor %}
{% endblock tbody %}
{% block tfoot %}
<td colspan="4">{% include "includes/pagination.html" with page=grados %}</td>
{% endblock tfoot %}