{% extends "componentes/tablas.html" %}

{% block title %}Gestión Grados{% endblock title %}


{% block titabla %}Gestión Grados{% endblock titabla %}


{% block Thead %}
<th>ID</th>
<th>Nombre</th>
<th>Acciones</th>
{% endblock Thead %}

{% block tbody %}
{% for grado in grados %}
<tr>
    <td>{{ grado.id }}</td>
    <td>{{ grado.nombre }}</td>
    {% include "componentes/botones.html" with modelo=grado %}
</tr>
{% endfor %}
{% endblock tbody %}
{% block tfoot %}
<td colspan="3">{% include "componentes/pagination.html" with page=grados %}</td>
{% endblock tfoot %}