{% extends "components/tablas.html" %}

{% block title %}Gestión Técnico{% endblock title %}


{% block titabla %}Gestión Técnico{% endblock titabla %}


{% block Thead %}
<th>Código</th>
<th>Nombre</th>
<th>Grado</th>
<th>Teléfono</th>
<th>Acciones</th>
{% endblock Thead %}

{% block tbody %}
{% for tecnico in tecnicos %}
<tr>
    <td>{{tecnico.codigo}}</td>
    <td>{{tecnico.nombre}}</td>
    <td>{{tecnico.grado}}</td>
    <td>{{tecnico.telefono}}</td>
    {% include "includes/botones.html" with modelo=tecnico modelomodal='tecnico' modelo_id=tecnico.id %}
</tr>
{% endfor %}
{% endblock tbody %}
{% block tfoot %}
<td colspan="5">{% include "includes/pagination.html" with page=tecnicos %}</td>
{% endblock tfoot %}