<td>
    <span>
        <a class="btn btn-primary" href="{{ modelo.get_detalle_url }}">Ver</a>
        <a class="btn btn-secondary mx-2" href="{{ modelo.get_editar_url }}">Editar</a>
        <a class="btn btn-danger" href="{{ modelo.get_borrar_url }}"
            onclick="return confirm('¿Estás seguro de que deseas borrar este registro?');">Borrar</a>
        <a href="{% url 'generar_pdf_servicio' servicio.id %}" class="btn btn-primary" target="_blank">
            Descargar Orden de Servicio (PDF)
        </a>
    </span>
</td>