<div class="modal fade" id="modal_detalle" aria-hidden="true" aria-labelledby="modal_detalle" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal_detalle">
                    {% block titlemodal %}{% endblock titlemodal %}
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% block contentmodal %}{% endblock contentmodal %}
            </div>
            <div class="modal-footer">
                modal</button>
            </div>
        </div>
    </div>
</div>