<!-- Sidebar -->
<nav>
  <div class="system-title-bs5 text-center">
    Maestranza
    <br>Sistema de Gestión</br>

  </div>
  <div class="sidebar-section-title-bs5 text-center">

    <ul class="nav nav-pills flex-column mb-auto  mb-4 text-center">
      <li class="navbar-item">
        <a class="nav-link" href="{% url 'index' %}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'servicio_lista' %}">Servicios</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Gestores
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'vehiculo_index' %}">Vehículos</a></li>
          <li><a class="dropdown-item" href="{% url 'persona_index' %}">Personas</a></li>
          <li><a class="dropdown-item" href="{% url 'tecnico_index' %}">Técnicos</a></li>
          <li><a class="dropdown-item" href="{% url 'pieza_index' %}">Piezas</a></li>
          <li><a class="dropdown-item" href="{% url 'grado_lista' %}">Grados</a></li>
        </ul>
      </li>

      <li class="nav-item"><a class="nav-link" href="#">Facturas</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Reportes</a></li>
      <!-- </ul> -->
      <!-- <ul class="navbar-nav flex-column"> -->
      <li class="nav-item"><a class="nav-link" href="#">Ajustes</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Usuarios</a></li>
    </ul>
  </div>
  <div class="sidebar-footer-bs5 text-center">
    <strong>Admin</strong><br />
    <small>Gerente</small>
  </div>


</nav>