<div class="pagination justify-content-center ">
    <spam class="mx-auto step_links nav">
        {% if page.has_previous %}
        <a class="nav-link" href="?page={{ page.previous_page_number }}">Atras</a>
        {% endif %}
        <span class="current mt-2 ">
            Pagina {{page.number}} de {{page.paginator.num_pages}}.
        </span>
        {% if page.has_next %}
        <a class="nav-link" href="?page={{ page.next_page_number }}">Siguiente </a>
        {% endif %}
    </spam>
</div>