{% extends "componentes/tablas.html" %}

{% block title %}Gestor de Piezas{% endblock title %}


{% block titabla %}Gestor de Piezas{% endblock titabla %}


{% block Thead %}
<th>Nombre</th>
<th>Stock</th>
<th>Nro. Reordenar</th>
<th>Acciones</th>
{% endblock Thead %}

{% block tbody %}
{% for pieza in piezas %}
<tr>
    <td>{{ pieza.nombre}}</td>
    <td>{{pieza.cantidad_stock}}</td>
    <td>{{pieza.reorder}}</td>
    {% include "componentes/botones.html" with modelo=pieza %}
</tr>
{% endfor %}
{% endblock tbody %}
{% block tfoot %}
<td colspan="4">{% include "componentes/pagination.html" with page=piezas %}</td>
{% endblock tfoot %}