{% extends "componentes/formulario.html" %}

{% block title %}
{% if modo == 'editar' %}
Editar Vehículos
{% else %}
Crear Vehículos
{% endif %}
{% endblock title %}

{% block formtit %}
{% if modo == 'editar' %}
Editar Vehículos
{% else %}
Crear Vehículos
{% endif %}
{% endblock formtit %}


{% block formulario %}
{% csrf_token %}
<div class="row">
    <div class="col-md-4 mb-2">
        <div>{{form.placa_int.label}}:</div>
        <div>{{form.placa_int}}</div>
    </div>
    <div class="col-md-4 mb-2">
        <div>{{form.placa_rod.label}}:</div>
        <div>{{form.placa_rod}}</div>
    </div>
    <div class="col-md-4 mb-2">
        <div>{{form.vin.label}}:</div>
        <div>{{form.vin}}</div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 mb-2">
        <div>{{form.num_motor.label}}:</div>
        <div>{{form.num_motor}}</div>
    </div>
    <div class="col-md-4 mb-2">
        <div>{{form.marca.label}}:</div>
        <div>{{form.marca}}</div>
    </div>
    <div class="col-md-4 mb-2">
        <div>{{form.modelo.label}}:</div>
        <div>{{form.modelo}}</div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 mb-2">
        <div>{{form.anio.label}}:</div>
        <div>{{form.anio}}</div>
    </div>
    <div class="col-md-4 mb-2">
        <div>{{form.tipo.label}}:</div>
        <div>{{form.tipo}}</div>
    </div>
    <div class="col-md-4 mb-2">
        <div>{{form.kilometraje.label}}:</div>
        <div>{{form.kilometraje}}</div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 mb-2">
        <div>{{form.tipo_combustible.label}}:</div>
        <div>{{form.tipo_combustible}}</div>
    </div>
    <div class="col-md-4 mb-2">
        <div>{{form.estado_vehi.label}}:</div>
        <div>{{form.estado_vehi}}</div>
    </div>
    <div class="col-md-4 mb-2">
        <div>{{form.estado_odo.label}}:</div>
        <div>{{form.estado_odo}}</div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 mb-2">
        <div>{{form.funcion.label}}:</div>
        <div>{{form.funcion}}</div>
    </div>
    <div class="col-md-4 mb-2">
        <div>{{form.fecha_adquisicion.label}}:</div>
        <div>{{form.fecha_adquisicion}}</div>
    </div>
</div>
<input class="btn btn-success" type="submit" value="Crear">
<a class="btn btn-danger" href="{% url 'vehiculo_index'%}">Cancelar</a>
{% endblock formulario %}