<div class="container-fluid">
    <!-- Información principal del servicio -->
    <div class="card mb-3 shadow-sm">
        <div class="card-header bg-light">
            <h5 class="mb-0">Información del Requerimiento (TDR)</h5>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">

                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div><i class="bi bi-car-front-fill me-2 text-primary"></i><strong>Nº Informe:</strong></div>
                    <span>{{ requerimiento.informe_tecnico_nro }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div><i class="bi bi-car-front-fill me-2 text-primary"></i><strong>Vehículo (Placa interna):</strong></div>
                    <span>{{ requerimiento.vehiculo.placa_int }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div><i class="bi bi-car-front-fill me-2 text-primary"></i><strong>Vehículo (Placa rodaje):</strong></div>
                    <span>{{ requerimiento.vehiculo.placa_rod }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div><i class="bi bi-tools me-2 text-primary"></i><strong>Sub Unidad:</strong></div>
                    <span>{{ requerimiento.subunidad.nombre }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div><i class="bi bi-journal-text me-2 text-primary"></i><strong>Fecha Creación:</strong></div>
                    <span>{{ requerimiento.fecha_creacion }}</span>
                </li>
            </ul>
        </div>
    </div>
