{% extends "componentes/tablas.html" %}

{% block title %}Gestion requerimientos{% endblock title %}


{% block titabla %}Gestión requerimientos{% endblock titabla %}


{% block Thead %}
<th>ID</th>
<th>Nº Informe</th>
<th>Vehículo (Placa)</th>
<th>Fecha Creación</th>
<th>Responsable</th>

<th>Acciones</th>
{% endblock Thead %}

{% block tbody %}
{% for requerimiento in requerimientos %}
<tr>
    <td>{{ requerimiento.id }}</td>
    <td>{{ requerimiento.informe_tecnico_nro|default:"N/A" }}</td>
    <td>{{ requerimiento.vehiculo.placa_int }}</td>
    <td>{{ requerimiento.fecha_creacion|date:"d/m/Y H:m" }}</td>
    <td>{{ requerimiento.vehiculo.subunidad.nombre }}</td>
    {% include "componentes/botones.html" with modelo=requerimiento modelomodal='requerimiento' modelo_id=requerimiento.id %}
</tr>
{% endfor %}
{% endblock tbody %}
{% block tfoot %}
<td colspan="6">{% include "componentes/pagination.html" with page=requerimientos %}</td>
{% endblock tfoot %}