<!-- Sidebar -->
<nav>
  <div class="system-title-bs5 text-center">
    Maestranza
    <br>Sistema de Gestión</br>

  </div>
  <div class="sidebar-section-title-bs5 text-center">

    <ul class="nav nav-pills flex-column mb-auto  mb-4 text-center">
      <li class="navbar-item">
        <a class="nav-link" href="{% url 'index' %}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'servicio_lista' %}">Servicios</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Gestores
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'grado_lista' %}">Grados</a></li>
          <li><a class="dropdown-item" href="{% url 'persona_index' %}">Personas</a></li>
          <li><a class="dropdown-item" href="{% url 'pieza_index' %}">Piezas</a></li>
          <li><a class="dropdown-item" href="{% url 'tecnico_index' %}">Técnicos</a></li>
          <li><a class="dropdown-item" href="{% url 'vehiculo_index' %}">Vehículos</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Ubicacion
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'unidad_index' %}">Unidades</a></li>
          <li><a class="dropdown-item" href="{% url 'subunidad_index' %}">Sub Unidades</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Reportes
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'lista_requerimientos' %}">TDR</a></li>
          <li><a class="dropdown-item" href="{% url 'lista_consolidados' %}">Consolidados TDR</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Importar Datos
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'vehiculo_importar' %}">Vehículos</a></li>
        </ul>
      </li>
      <li class="nav-item"><a class="nav-link" href="{% url 'usuario_lista' %}">Usuarios</a></li>
    </ul>
  </div>
  <div class="sidebar-footer-bs5 text-center">
    <strong>Admin</strong><br />
    <small>Gerente</small><br />
    <form action="{% url 'logout' %}" method="post" style="display:inline;">
      {% csrf_token %}
      <button type="submit" class="btn btn-link p-0 m-0 align-baseline">Cerrar sesión</button>
    </form>
  </div>


</nav>