{% extends "componentes/tablas.html" %}

{% block title %}Gestión Unidad{% endblock title %}

{% block titabla %}Gestión Unidad{% endblock titabla %}


{% block Thead %}
<th>Nombre</th>
<th>Acciones</th>
{% endblock Thead %}

{% block tbody %}
{% for unidad in unidades %}
<tr>
    <td>{{ unidad.nombre }}</td>
    {% include "componentes/botones.html" with modelo=unidad modelo_id=unidad.id%}
</tr>
{% endfor %}
{% endblock tbody %}
{% block tfoot %}
<td colspan="2">{% include "componentes/pagination.html" with page=unidades %}</td>
{% endblock tfoot %}