{% extends "base.html" %}

{% block title %} {{ servicio.vehiculo }} {% endblock title %}


{% block content %}

<ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>ID:</strong> {{ servicio.id }}</li>
    <li class="list-group-item"><strong>Vehículo (Placa):</strong> {{ servicio.vehiculo.placa_int }}</li>
    <li class="list-group-item"><strong>Tipo de Mantenimiento:</strong> {{ servicio.get_tipo_display }}</li>
    <li class="list-group-item"><strong>Descripción:</strong> {{ servicio.descripcion }}</li>
    <li class="list-group-item"><strong>Kilometraje al Inicio:</strong> {{ servicio.kilometraje_ant }} km
    </li>
    <li class="list-group-item"><strong>Kilometraje Final:</strong> {{ servicio.kilometraje_act }} km</li>
    <li class="list-group-item"><strong>Diferencia de Kilometraje:</strong> {{ servicio.kilometraje_diff }} km</li>
    <li class="list-group-item"><strong>Técnico Asignado:</strong> {{ servicio.tecnico.nombre }}</li>
    <li class="list-group-item"><strong>Fecha de Registro:</strong> {{ servicio.fecha|date:"d/m/Y H:i" }}</li>
</ul>
{% endblock content %}