{% extends "componentes/formulario.html" %}

{% block title %}Editar: {{vehiculo.placa}}{% endblock title %}


{% block formtit %} Editar: {{vehiculo.placa}} {% endblock formtit %}

{% block formulario %}
{% csrf_token %}
{{form}}
<input type="hidden" id="id_kilometraje_vehiculo">
<button class="btn btn-warning" type="button" onclick="calcularDiferencia()">Calcular Diferencia de Kilometraje</button>
<button class="btn btn-success" type="submit">Crear</button>
<a class="btn btn-danger" href="{% url 'servicio_lista' %}">Cancelar</a>
{% endblock formulario %}