{% extends "componentes/formulario.html" %}

{% block title %}Editar: {{vehiculo.placa}}{% endblock title %}


{% block formtit %} Editar: {{vehiculo.placa}} {% endblock formtit %}

{% block formulario %}
{% csrf_token %}
{{form}}
<input type="hidden" id="id_kilometraje_vehiculo">
<button class="btn btn-warning" type="button" onclick="calcularDiferencia()">Calcular Diferencia de Kilometraje</button>
<button class="btn btn-success" type="submit">Crear</button>
<a class="btn btn-danger" href="{% url 'servicio_lista' %}">Cancelar</a>
{% endblock formulario %}

{% block script %}
<script>
    document.getElementById("id_vehiculo").addEventListener("change", function () {
        // Step 1: Get the selected vehicle ID
        var vehiculoId = this.value;

        // Step 2: Fetch the mileage data for the selected vehicle
        fetch(`/vehiculos/kilometraje/${vehiculoId}/`)
            .then(response => response.json()) // Step 3: Parse the JSON response
            .then(data => {
                // Step 4: Update the hidden input field with the fetched mileage data
                document.getElementById("id_kilometraje_vehiculo").value = data.kilometraje;
            });
    });
</script>
{% endblock script %}