{% extends "componentes/tablas.html" %}

{% block title %}Gestión Servicios{% endblock title %}


{% block titabla %}Gestión Servicios{% endblock titabla %}


{% block Thead %}
<th>Vehículo</th>
<th>Técnico</th>
<th>Solicitante</th>
<th>Km. Actual</th>
<th>Estado</th>
<!-- <th>Descripción</th> -->
<th>Fecha</th>
<th>Acciones</th>
{% endblock Thead %}

{% block tbody %}
{% for servicio in servicios %}
<tr>
    <td>{{ servicio.vehiculo }}</td>
    <td>{{ servicio.tecnico }}</td>
    <td>{{ servicio.persona }}</td>
    <td>{{ servicio.kilometraje_act }}</td>
    <td>{% if servicio.estado != 'FINALIZADO' %}
        <span class="badge bg-danger">En_proceso</button>
            {% else %}
            <span class="badge bg-success">Finalizado</span>
            {% endif %}
    </td>
    <!-- <td>{{ servicio.estado }}</td> -->
    <td>{{ servicio.fecha_fin|date:"d/m/Y" }}</td>
    {% include "componentes/botones.html" with modelo=servicio modelomodal='servicio' modelo_id=servicio.id %}
</tr>
{% endfor %}
{% endblock tbody %}
{% block tfoot %}
<td colspan="7">{% include "componentes/pagination.html" with page=servicios %}</td>

{% endblock tfoot %}