{% extends "componentes/tablas.html" %}

{% block title %}Gestión Servicios{% endblock title %}


{% block titabla %}Gestión Servicios{% endblock titabla %}


{% block Thead %}
<th>Vehículo</th>
<th>Técnico</th>
<th>Persona</th>
<th>Km. Actual</th>
<!-- <th>Km. Diferencia</th> -->
<th>Descripción</th>
<th>Fecha</th>
<th>Acciones</th>
{% endblock Thead %}

{% block tbody %}
{% for servicio in servicios %}
<tr>
    <td>{{ servicio.vehiculo }}</td>
    <td>{{ servicio.tecnico }}</td>
    <td>{{ servicio.persona }}</td>
    <td>{{ servicio.kilometraje_act }}</td>
    <!-- <td>{{ servicio.kilometraje_diff }}</td> -->
    <td>{{ servicio.descripcion }}</td>
    <td>{{ servicio.fecha }}</td>
    {% include "componentes/botones.html" with modelo=servicio %}
</tr>
{% endfor %}
{% endblock tbody %}
{% block tfoot %}
<td colspan="7">{% include "componentes/pagination.html" with page=servicios %}</td>
{% endblock tfoot %}