{% extends "componentes/formulario.html" %}

{% block title %}{% if servicio.pk %}Editar Servicio{% else %}Crear Servicio{% endif %}{% endblock title %}

{% block formtit %} {% if servicio.pk %}Editar Servicio{% else %}Crear Servicio{% endif %} {% endblock formtit %}

{% block formulario %}
<form method="post">
    {% csrf_token %}
    {{ form }}
    {% include 'componentes/piezas.html' %}
    <div>
        <input type="hidden" id="id_kilometraje_vehiculo">
        <button class="btn btn-warning" type="button" onclick="calcularDiferencia()">Calcular Diferencia de
            Kilometraje</button>
        <button class="btn btn-success" type="submit">Guardar</button>
        <a class="btn btn-danger" href="{% url 'servicio_lista' %}">Cancelar</a>
    </div>
</form>
{% if form.errors %}
<div class="alert alert-danger">{{ form.errors }}</div>
{% endif %}
{% if formset.non_form_errors %}
<div class="alert alert-danger">{{ formset.non_form_errors }}</div>
{% endif %}
{% for f in formset %}
{% if f.errors %}
<div class="alert alert-danger">{{ f.errors }}</div>
{% endif %}
{% endfor %}
{% endblock formulario %}